@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


body {
  background-color: #fcf3f3ff;
  /* margin-left: 10vw; */
  margin-top: 6vw;
  font-family: 'Montserrat', sans-serif;
}

.header-box {
  background-color: #f7d5d5ff;
  margin-left: 10vw;
  height: 13vh;
  margin-right: 20vw;
  /* border-radius: 30%; */
  padding-left: 8%;
  /* padding-top: 2%; */
  display: flex;
  align-items: center;
  box-shadow: 8px 8px #a95050ff;
  margin-bottom: 8vh;
  animation: slideIn 1s ease;
}

h1 {
  font-size: 24pt;
  color: #a95050ff;
  font-size: 45px;
}

.image-gallery-header {
  background-color: #940909ff;
  color: #fcf3f3ff;
  /* padding: 1%; */
  /* margin-right: 60vw; */
  margin-bottom: 5vh;
  margin-top: 8vh;
  padding-left: 15px;
  max-width: 180px;
  display: flex;
  align-items: center;
  box-shadow: 8px 8px #f7d5d5ff;
  font-size: 18px;
  /* animation: slideIn 1s ease; */
}

#images-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


button {
  background-color: #940909ff;
  color: #fcf3f3ff;
  box-shadow: 4px 4px #f7d5d5ff;
  font-family: 'Montserrat', sans-serif;
  border-color: #940909ff;
  font-size: 16px;
  transition: background-color 0.33s ease;
}

button:hover {
  background-color: rgb(84, 8, 37);
}

.img-display {
  max-width: 300px;
  max-height: 400px;
}

.site-overview, h2, label, input {
  color: #940909ff;
  padding-left: 4vw;
  margin-left: 10vw;
  /* animation: slideIn 1s ease; */
}

li, form {
  padding-top: 0.5vh;
  padding-bottom: 1vh;
}

hr {
  border-top: 4px solid #f7d5d5ff;
  border-radius: 10px;
  width: 85vw;
  margin: auto;
}

.variable-content {
  margin-left: 10vw;
}