<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/stylesheets/pixly.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <title>Pix.ly</title>
</head>

<body>
  <a href="/">
    <div class="header-box">
      <h1>Welcome to Pix.ly! 📷</h1>
    </div>
  </a>

  {% if onHomepage %}
  <div class="site-overview">
    <!-- <TODO: would it be too hard to make this list homepage-specific? -->
    <p>At Pix.ly, you can do all sorts of things! You can:</p>
    <ul>
      <li>Upload images</li>
      <li>See the images you uploaded</li>
      <li>See the images other users have uploaded</li>
      <li>Search images based on their EXIF data</li>
      <li>Click on images to see all of their EXIF data</li>
    </ul>
  </div>
  {% endif %}

  <div class="variable-content">
    {% block content %}
    {% endblock %}
  </div>

  <script src="https://unpkg.com/jquery"></script>
  <script src="/static/pixly.js"></script>

</body>

</html>