<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pix.ly</title>
</head>
<body>
  <h1>Welcome to Pix.ly!</h1>
  <p>At Pix.ly, you can do all sorts of things! You can:</p>
  <ul>
    <li>Upload images</li>
  </ul>
  <!-- <img src="{{ photo_url }}"/> -->
  <div class="image-upload-form">
    {% block content %}
    {% endblock %}
  </div>
  <div class="image-storage">
    {% for photo_url in photos %}
      <img src="{{ photo_url }}"/>
    {% endfor %}
  </div>
  <!-- this will be the html for showing images eventually -->
</body>
</html>