{% extends 'base.html' %}

{% block content %}
<h2>Upload an image!</h2>

<form method="POST" enctype="multipart/form-data" action="{{ url_for('upload_photo') }}">

  <div>
    <label for="alt-tag">Alt Tag: </label>
    <input id="alt-tag" name="alt-tag" required placeholder="description of photo"/>
  </div>

  <div>
    <label for="photo">Upload a photo here: </label>
    <input id="input-button" type="file" name="photo" id="photo">
  </div>

  <br>
  <button type="submit">Upload</button>
</form>

  <br>
  <br>
  <hr></hr>
  <br>

  <form action="{{ url_for('homepage') }}" method="GET">
    <button type="submit">Return to Home</button>
  </form>


{% endblock %}

<!-- source for skeleton of form:
  https://pythonhosted.org/Flask-Uploads/
https://stackoverflow.com/questions/73263202/how-to-display-uploaded-image-in-html-page-using-fastapi-jinja2 -->