{% extends 'base.html' %}


{% block content %}
<div>

  <form action="{{ url_for('homepage') }}" method="GET">
    <button type="submit">Return to Home</button>
  </form>

    <button id="resize-img" data-filename="{{ photo.filename }}">resize image</button>

  <div>
    <img src="{{ photo_url }}" alt="{{ photo.alt_tag }}" class="img-display" />
  </div>

  <h3>Image properties:</h3>
  <ul>
    {% for (col, col_val) in photo_metadata %}
    <li>{{ col }}: {{ col_val }}</li>
    {% endfor %}
  </ul>
  <hr></hr>

</div>
{% endblock %}